@import "../styles/globals.css";

@layer base {
  :root {
    @apply font-sans;
  }

  html, body, #root, main {
    @apply h-full w-full m-0 p-0;
  }

}

@theme {
  --font-compass: "Momo Trust Display", sans-serif;
}

@layer base {
  button:not(:disabled),
  [role="button"]:not(:disabled) {
    cursor: pointer;
  }
}

@media (prefers-reduced-motion) {
  *,
  ::before,
  ::after {
    animation: none !important;
  }
}
